venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/
.env
.env.*
instance/
*.db
.vscode/
.idea/
artifacts/
deploy.zip
deploy-strategy.zip
*.bak
.ebextensions/*.bak
docs/
**/README.md
!README.md
